/* header */
/* 프리텐다드 폰트 */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css"); */


.header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #fff;
}
.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
/*pc*/
.header .content .logo {
    width: 100%;
    max-width: 312px;
    height: auto;
}
.header .content .logo-img {
    /* width: 100%;
    height: 100%;
    display: block; */
    padding-top: 10px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.header .content .nav .gnb {
    display: flex;
    gap: 40px;
    height: 80px;
    align-items: center;
}
.header .content .nav .gnb-item .gnbList {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
    transition: all 300ms;
}
/* .header .content .nav .gnb-item:hover a {
    color: #9A2626;
    font-family: "Pretendard-ExtraBold";
} */
.header .content .nav .gnb-menu {
    position: relative;
}
.header .content .nav .gnb-menu .gnb-sub {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 3%;
    /* transform: translateX(-50%); */
    top: 54px;
    transition: max-height 200ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header .content .nav .gnb-menu .gnb-sub .gnb-sub-item .sItem {
    display: block;
    padding: 10px 15px;
    background: #FFFFFF;
    width: 214px;
    transition: all 200ms;
    color: #6F6F6F;
    font-family: "Pretendard-Regular";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
}
.header .content .nav .gnb-menu .gnb-sub .gnb-sub-item .sItem .sItem-s{
    font-size: 14px;
}
.header .content .nav .gnb .gnb-item .gnb-sub .gnb-sub-item:first-child{
    border-top: 4px solid #2B59B5;
}
.header .content .nav .gnb-menu .gnb-sub .gnb-sub-item:hover .sItem {
    background: #ECF3FE;
    /* color: #6F6F6F; */
    font-family: "Pretendard-SemiBold";
}
.header .content .nav .gnb-menu:hover .gnb-sub {
    max-height: 500px;
    z-index: 100;
}
/* 사이트맵 */
.header .sitemapBtn {
    width: 27px;
    height: 20px;
    float: right;
    margin: 24px 0 24px 24px;
    position: relative;
    z-index: 10;
}
.header .sitemapBtn .ham {
    display: block;
    width: 27px;
    height: 2.5px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    left: 0;
    transition: all 0.5s;
}
.header .sitemapBtn .ham:nth-child(1) {
    top: 0;
}
.header .sitemapBtn .ham:nth-child(2) {
    top: 50%;
}
.header .sitemapBtn .ham:nth-child(3) {
    top: 100%;
}
.header .content .login-link {
    display: flex;
    align-items: center;
}
.header .siteMap {
    padding: 20px 45px;
}
.header .f_gnb .gnb-menu {
    text-align: center;
    /* line-height: 2.8; */
}
.header .f_gnb .gnbList-bg {
    background: #2B59B5;
    padding: 17px 50px;
    color: #FEFEFE;
    border-radius: 15px 15px 0 0;
}
.header .f_gnb .siteMap-list {
    padding: 10px;
    color: #FEFEFE;
    line-height: 2.8;
}
.header .f_gnb .gnb-sub {
    margin-top: 2px;
}
.header .f_gnb .gnb-sub .gnb-sub-item {
    border-bottom: 1px solid #D9D9D9;
    line-height: 2.8;
}
.header .f_gnb .gnb-sub .gnb-sub-item:hover {
    background-color: #ECF3FE;
}
.header .f_gnb .gnb-sub .gnb-sub-item .sItem {
    padding: 10px;
    font-size: clamp(14px, 1vw, 18px);
}
.header .f_gnb .closeBar {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    display: block;
    background: #333;
}



.header .content .login-link .line {
    width: 1px;
    height: 10px;
    background: #999;
    margin: 0 14px;
}
/* 로그인, 로그아윳 상태 시 나타나는 스타일 */
.header .content .login-before { /* 로그아웃 상태 시 나타남 */
    /* display: none; */
}
.header .content .login-complete { /* 로그인 상태 시 나타남 */
    display: none;
}
.header .content .login-complete-manager { /* 관리자 로그인 상태 시 나타남 */
    display: none;
}
.mobile_display .login-link-m {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    background-color: #F4F7FC;
    padding: 10px 25px ;
}
.mobile_display .login-link-m .login-link-li {
    position: relative;
}
.mobile_display .login-link-m .login-link-li:first-child::after, .mobile_display .login-complete-manager li.my-info::after  {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: #999;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}
.mobile_display .login-link-m .login-link-a {
    font-size: 16px;
    font-weight: 600;
    color: #6F6F6F;
}
.pc_display {
    display: block;
}
.mobile_display {
    display: none;
}

/* 퀵메뉴 */
#home .lms-btn {  /* 관리자에게만 보여지는 버튼 */
    /* display: none;   */
}
/* PC용 퀵메뉴 */
#quickMenu .quick-pc {
    display: flex;
    flex-direction: column;
    background: #fefefe;
    border-radius: 20px;
    max-width: 76px;
    box-shadow: 0px 3px 12px #D9D9D9;
}
#quickMenu .quick-pc .quick-item {
    border-bottom: 1px solid #d9d9d9;
}
#quickMenu .quick-pc .quick-item:last-child {
    border-bottom: none;
}
#quickMenu .quick-pc .quick-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
#quickMenu .quick-pc .icon {
    width: 48px;
    height: 48px;
}
#quickMenu .qItem-wrapper .quick-txt {
    font-size: 10px;
    font-weight: 600;
    color: #2A5AB9;
}
#quickMenu .scrollTop .quick-txt, #quickMenu .q-btn, #quickMenu .qItem-wrapper .quick-txt.close {
    font-size: 16px;
    font-weight: 600;
    color: #FEFEFE;
}
#quickMenu.quick-contain {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#quickMenu.quick-contain.show {
    opacity: 1;
    visibility: visible;
}
#quickMenu .quick-btn-initial {
    box-shadow: 0 3px 12px #d9d9d9;
}
#quickMenu .quick-item .quick-txt {
    font-size: 14px;
    font-weight: 600;
    color: #2A5AB9;
    margin-top: 2px;
}
/* 모바일용 퀵메뉴 */
#quickMenu .quick-menu-button {
    display: none;
}
  
@media (max-width: 1024px) { 
    #quickMenu .quick-pc {
        display: none;
    }
    #quickMenu .quick-menu-button {
        display: block;
    }
    #quickMenu .quick-menu-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }
  
    #quickMenu .scrollTop.quick-btn {
        background-color: #2A5AB9;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        box-shadow: 0 3px 12px #d9d9d9;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
  
    #quickMenu .quick-btn-initial {
        background-color: #2A5AB9;
        color: #fff;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        z-index: 5; 
        position: relative; 
    }
  
    #quickMenu .quick-menu-area {
        display: flex;
        align-items: center;
        position: relative;
    }
  
    #quickMenu .quick-menu.qItem-wrapper {
        position: absolute;
        right: 0; /* 기존: 64px -> 수정 */
        top: -5px;
        display: flex;
        align-items: center;
        transform: translateX(20px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 10; /* 버튼보다 위에 */
    }
  
    #quickMenu.open .quick-menu.qItem-wrapper {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
  
    #quickMenu .quick-x-section {
        background-color: #2A5AB9;
        padding: 0 16px;
        height: 64px;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    #quickMenu .quick-btn.close-btn .quick-txt {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
  
    #quickMenu .quick-links {
        background-color: #fff;
        padding: 6px 16px;
        height: 64px;
        display: flex;
        align-items: center;
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
        box-shadow: 0 3px 12px #d9d9d9;
        /* gap: 16px; */
        padding-left: 0;
    }
  
    #quickMenu .quick-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    #quickMenu .quick-item .quick-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
    }
  
    #quickMenu .quick-item img {
        width: 44px;
        height: 28px;
    }
  
    #quickMenu .quick-item .quick-txt {
        font-size: 10px;
        /* font-weight: 600;
        color: #2A5AB9;
        margin-top: 2px; */
    }
}

/* ✅ 서브페이지 적용 */
.sub-page .login-menu-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.sub-page .header-login {
    padding-top: 2px;
    color: #333333;
    font-weight: 600;
    font-size: 16px;
}
.sub-page .right-arrow-svg{
    display: none;
}
.sub-page .nav-var {
    background-color: #F4F5F9;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    z-index: 10;
}
.sub-page .nav-var .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.sub-page .nav-var .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DDDDDD;
    padding: 0 15px 3px 15px;
}
.sub-page .nav-var .home-btn-a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-page .nav-var .nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-page .nav-var .nav-drop {
    height: 20px;
    width: 200px;
    border-right: 1px solid #DDDDDD;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #727272;
    font-size: 16px;
    cursor: pointer;
}
.sub-page .nav-var .nav-title {
    height: 20px;
    width: 180px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #727272;
    font-size: 16px;
    cursor: pointer;
}

.sub-page .nav-var .share-btn {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sub-page .nav-item {
    position: relative; 
}

.sub-page .drop-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 37.5px; 
    left: 0px;
    width: 200px; 
    background-color: white;
    border-top: none;
    box-shadow: 0 24px 14px rgba(0, 0, 0, 0.1);
    z-index: 5; 
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.sub-page .nav-item .drop-menu.open {
    max-height: 500px;
}

.sub-page .nav-item .nav-menu-a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #727272;
    font-size: 16px;
    border-bottom: solid 1px #EFEFEF;
}
.sub-page .nav-item .drop-menu .nav-menu-li:last-child .nav-menu-a {
    border-bottom: none;
}

.sub-page .nav-item .drop-menu .nav-menu-a:hover,
.sub-page .nav-item .drop-menu .nav-menu-a:focus{
    background-color: #005AAB;
    color: #FEFEFE;
}

.sub-page .nav-drop .drop-arrow-svg {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.sub-page .nav-drop.open .drop-arrow-svg {
    transform: rotate(180deg);
}



/* .sub-page .nav-var .seperate {
    width: 1px;
    height: 20px;
    background-color: #DDDDDD;
} */

#sitemap-modal.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
    overflow: auto;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
#sitemap-modal .modal-content {
    background-color: #fff;
    margin: 2% auto;
    padding: 25px 30px;
    max-width: 1200px;
    border-radius: 20px;
}
#sitemap-modal .close {
    float: right;
}
#sitemap-modal .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#sitemap-modal .h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
#sitemap-modal .ul {
    list-style-type: none;
    padding: 0;
}
#sitemap-modal .f_gnb {
    display: flex ;
    justify-content: space-around ;
}
#sitemap-modal .ul .li {
    margin: 10px 0;
}
#sitemap-modal .ul .li .a:hover {
    color: #007bff;
}



@media (max-width: 1369px) {
    #sitemap-modal .f_gnb {
        gap: 10px;
        justify-content: center !important;
    }
    .header .siteMap {
        padding: 20px 15px;
    } 
    .header .f_gnb .gnbList-bg {
        padding: 17px 35px;
    }
    #sitemap-modal.modal {
        padding-top: 150px;
    }

}

@media (max-width: 1000px) {
    .header .siteMap {
        padding: 20px 5px;
    }
    .header .f_gnb .gnbList-bg {
        padding: 17px 23px;
    }
}
@media (max-width: 928px) {
    .header .content .nav .gnb {
        gap: 24px;
    }
}
@media (max-width: 870px) {
    .logo-img{
        height: 60px;
        width: 270px;
    }
    .pc_display {
        display: none;
    }
    .mobile_display {
        display: block;
    }
    .header {
        background: #fff;
        position: fixed;
    }
    .sub-page .header-login {
        display: none;
    }
    
    /*mobile*/
    .header .content .logo {
        position: absolute;
        z-index: 999;
    }
    .mobile_display {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 888;
    }
    .header .offcanvas-open {
        width: 25px;
        height: 20px;
        float: right;
        margin: 24px;
        position: relative;
        z-index: 1005;
    }
    .header .offcanvas-open .ham {
        display: block;
        width: 25px;
        height: 2.5px;
        background: #222;
        border-radius: 50px;
        position: absolute;
        left: 0;
        transition: all 0.5s;
    }
    .header .offcanvas-open .ham:nth-child(1) {
        top: 0;
    }
    .header .offcanvas-open .ham:nth-child(2) {
        top: 50%;
    }
    .header .offcanvas-open .ham:nth-child(3) {
        top: 100%;
    }
    .header .offcanvas-open.active .ham {
        background: #222;
    }
    .header .offcanvas-open.active .ham:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .header .offcanvas-open.active .ham:nth-child(2) {
        display: none;
    }
    .header .offcanvas-open.active .ham:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    .header .offcanvas {
        width: 100%;
        height: 100%;
        padding: 30px 0px;
        background: rgba(100, 100, 100, 0.445);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        transform: translateX(100%);
        /* transform: translateX(0%); */
        background: #fff;
        transition: transform 0.5s ease-in-out;
    }
    .header .offcanvas .offcanvas-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .header .offcanvas .nav-mobile{
        width: 100%;
        height: auto;
        overflow-y: auto;
        padding-bottom: 150px;
        flex-grow: 1;
    }
    .gnb-mobile .gnb-item .gnb-item-a {
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 0 8px;
        height: 60px;
        line-height: 61px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.32px;
        border-bottom: 1px solid #ddd;
        background: #fff;
        padding: 0 25px;
    }
    .gnb-mobile .gnb-sub {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    .gnb-menu.active .gnb-sub {
        max-height: 500px;
    }
    .gnb-mobile .gnb-menu .gnb-sub .gnb-sub-item .gnb-sub-a{
        font-size: 18px;
        font-weight: 400;
        color: #555555;
        background-color: #F9F9F9;
        padding: 15px 35px;
        display: block;;
    }
    .gnb-mobile .gnb-menu .gnb-sub .gnb-sub-item:first-child .gnb-sub-a {
        padding-top: 20px;
    }
    /* 마지막 요소에 아래쪽 패딩 추가 (15 + 5 = 20px) */
    .gnb-mobile .gnb-menu .gnb-sub .gnb-sub-item:last-child .gnb-sub-a {
        padding-bottom: 20px;
    }
    .gnb-mobile .gnb-menu .gnb-sub .gnb-sub-item .gnb-sub-a:focus,
    .gnb-mobile .gnb-menu .gnb-sub .gnb-sub-item .gnb-sub-a:hover{
        background-color: #E4E4E4;
    }
    .gnb-menu .drop-arrow {
        float: right;
        margin-top: 14px;
        width: 28px;
        height: 28px;
        padding: 2px;
        box-sizing: border-box;
        position: relative;
        transition: transform 0.3s ease;
    }
    .gnb-menu.active .drop-arrow {
        transform: rotate(180deg);
    }
    .gnb-menu .drop-arrow .drop-left,
    .gnb-menu .drop-arrow .drop-right{
        display: block;
        width: 10px;
        height: 3px;
        background: #777;
        position: absolute;
    }
    .gnb-menu .drop-arrow .drop-left {
        top: 12px;
        left: 6px;
        transform: rotate(45deg);
    }
    .gnb-menu .drop-arrow .drop-right {
        top: 12px;
        right: 6px;
        transform: rotate(-45deg);
    }

    
    /* ✅ 서브페이지 적용 */
    .sub-page .nav-var {
        background-color: #FFFFFF;
        width: 100%;
        border-bottom: none;
    }
    .sub-page .nav-var .nav-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .sub-page .right-arrow-svg{
        display: block;
    }
    .sub-page .nav-var .home-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: none;
        padding: 0 5px 2px 5px;
    }
    .sub-page .home-path {
        fill: #858585 ;
    }
    .sub-page .nav-var .nav-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px
    }
    .sub-page .nav-var .nav-drop {
        height: 15px;
        width: auto;
        border-right: none;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #727272;
        font-size: 16px;
        cursor: pointer;
    }
    .sub-page .nav-var .nav-title {
        height: 15px;
        width: auto;
        border-right: none;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub-page .nav-var .share-btn {
        display: none;
    }
    .sub-page .nav-drop .drop-arrow-svg {
        display: none;
    }
    
    .sub-page .nav-item {
        position: relative; 
    }

    .sub-page .drop-menu {
        display: none;
    }
    
}


@media (max-width: 767px) {
    .quick-menu-button {
        position: fixed;
        bottom: 20px;
        left: 20px; /* 이미지처럼 좌측에 위치 */
        z-index: 101; /* quick-contain 보다 위에 */
    }
    
    .quick-btn-initial {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px; /* 이미지와 비슷한 크기 */
        height: 60px;
        background-color: #2A5AB9; /* 이미지와 비슷한 색상 */
        color: #fff;
        border-radius: 50%;
        box-shadow: 0px 3px 12px #D9D9D9;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .quick-btn-initial:hover {
        background-color: #1e4286;
    }
    
    .quick-text-initial {
        white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    }
    .quick-contain.show {
        transform: translateY(0); /* 나타날 때 제자리로 */
    }

    
    #home .quick-contain {
        right: 9%;
        transform: translateX(-50%);
        flex-direction: row; 
        max-width: none; 
        width: auto;
        border-radius: 30px;
        padding: 8px 15px;
        justify-content: space-around; 
    }
    #home .quick-contain .quick-item {
        border-bottom: none; 
        border-right: 1px solid #D9D9D9; 
    }
    #home .quick-contain .quick-item:last-child {
        border-right: none; 
    }
    #home .quick-contain .quick-btn {
        flex-direction: column; 
        padding: 8px;
    }
    #home .quick-contain .icon {
        width: 24px; 
        height: 24px;
        margin-bottom: 4px; 
    }

    /* 모바일 전용 퀵메뉴 */
    #home .quick-pc {
        display: none;
    }
}
@media (max-width: 480px) {
    .logo-img{
        height: 50px;
        width: 220px;
    }
    .header .offcanvas-open .ham {
        width: 22px;
    }
    .header .offcanvas-open {
        height: 15px;
        margin: 30px 20px;
    }
    .header .offcanvas {
        padding: 20px 0px;
    }
}
